
@{
    ViewData["Title"] = "UnauthorizedUser";
}
<link rel="stylesheet" href="~/css/UnauthorizedUser.css" />


<div class="inside">
    <h1>401</h1>
    <h2>UNAUTHORIZED</h2>
    <h3>ACCESS IS ALLOWED ONLY FOR REGISTERED USERS</h3>
</div>

