body {
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

h2, h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header {
    display: block;
}

.form-group {
    width: 320px;
}

.form-control {
    border-color: darkOrange;
}

label {
    font-weight: 600;
    font-size: 18px;
}

.alert-success {
    width: 350px;
    margin-top: 15px;
}

.form-check {
    padding-right: 12rem;
}

.btn-primary {
    color: #fff;
    background-color: #c22f1b;
    border-color: #151616;
    margin-top: 20px;
}

.btn-primary:hover {
    color: #212529;
    background-color: white;
    border-color: #212529;
}

#customFile .custom-file-control:lang(en)::after {
    content: "Select file...";
}

#customFile .custom-file-control:lang(en)::before {
    content: "Click me";
}

/*when a value is selected, this class removes the content */
.custom-file-control.selected:lang(en)::after {
    content: "" !important;
}

.custom-file {
    overflow: hidden;
    width: auto;
}

.custom-file-control {
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    color: black;
    pointer-events: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.custom-file-input {
    opacity: 0;
}

.custom-file-control::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 6;
    display: block;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    color: black;
    background-color: #eceeef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0 0.25rem 0.25rem 0;
}
