body {
}

.pb-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 600;
    margin-top: 30px;
}

.card-columns {
    column-count: 2;
}

.modal-header {
    display: block;
}

a {
    color: #c22f1b;
    font-size: 16px;
}

a:hover {
    color: #1c1e20a6;
}

.data {
    font-weight: 700;
}

.accessTab {
    color: rgb(0 0 0 / 90%);
    font-size: 20px;
    padding-right: 20px;
    font-weight: 700;
    padding-left: 10px;
}

.nav-tabs {
    padding-top: 20px;
}

.accessTab:hover {
    color: #1c1e20a6;
    background-color: #c9c9c9a6;
    text-decoration: none;
}

.tab-content {
    margin-top: 20px;
}

.accessTab.active {
    color: #1c1e20a6;
    background-color: #c9c9c9a6;
    text-decoration: none;
}

.btn.changeSt {
    font-weight: 700;
    width: 100px;
    font-size: 16px;
    width: auto;
    border-color: black;
    color: #af0808;
}

.col {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.return {
    color: #fff;
    background-color: #c22f1b;
    border-color: #151616;
    margin-top: 20px;
}

.return:hover {
    color: #212529;
    background-color: white;
    border-color: #212529;
}

.return:not(:disabled):not(.disabled):active {
    color: #000;
    background-color: white;
    border-color: black;
}

.carInf {
    font-weight: 700;
    width: 100px;
    font-size: 16px;
    width: auto;
    border-color: black;
}
