@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Car.Rental</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="../brand.jpg" style="width:65px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown px-2">
                            <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CATALOGUE</a>
                            <div class="dropdown-menu" style="right: 0; left: auto;" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Cars" asp-action="GetCarCatalogue">
                                    All cars
                                </a>
                            </div>

                        </li>
                        @if (User.IsInRole("Dealer") || User.IsInRole("Admin")) {
                            <li class="nav-item px-2">
                                <a class="btn" asp-controller="Cars" asp-action="GetDealerCars">MY CARS</a>
                            </li>
                        }
                    </ul>
                    <h1>@ViewData["ActivePage"]</h1>
                    <ul class="navbar-nav ml-auto">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USERS</a>
                                <div class="dropdown-menu" style="right: 0; left: auto;" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="User" asp-action="GetUsers" asp-route-page="1">
                                        All users
                                    </a>
                                    <a class="dropdown-item" asp-controller="User" asp-action="InviteDealer">
                                        Send invitation
                                    </a>
                                    <a class="dropdown-item" asp-controller="User" asp-action="AddDealer">
                                        Add dealer
                                    </a>
                                </div>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="../profile.png" width="40" height="40" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu" style="right: 0; left: auto;" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="User" asp-action="UpdateUser">
                                        <img src="../profData.png" width="30" height="30">
                                        Personal data
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="../bookProf.png" width="30" height="30">
                                        Booking Profile
                                    </a>
                                    <a class="dropdown-item" asp-controller="Rent" asp-action="GetRentCars">
                                        <img src="../profData.png" width="30" height="30">
                                        Rented cars
                                    </a>
                                    @if (User.IsInRole("User"))
                                    {
                                        <a class="dropdown-item" href="#">
                                            <img src="../dealer.jpg" width="30" height="30">
                                            Become a dealer
                                        </a>
                                    }
                                    @if (User.IsInRole("Dealer") || User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item" asp-controller="Cars" asp-action="AddCar">
                                            <img src="../addCar.png" width="30" height="30">
                                            Add car
                                        </a>
                                    }
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                        <img src="../logout.png" width="30" height="30">
                                        Log Out
                                    </a>
                                </div>
                            </li>
                        }
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="btn" asp-area="" asp-controller="Account" asp-action="RegisterUser">REGISTER</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn" asp-area="" asp-controller="Account" asp-action="Login">LOG IN</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn" asp-controller="Cars" asp-action="AddCar">Add car</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Car.Rental - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Addcar.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
